/* body{
    background-image: url(images/sradha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
form{
    border: 2px solid burlywood;
    border-radius: 50px;
    margin: 10px;
    padding: 100px;
    text-align: center;
     
    
} */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid1{
    background-color: red;
}